<% layout('/layout/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate class="validated">
                <div class="mb-2">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" required>
                    <div class="valid-feedback">
                        looks good!
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="location" required>
                </div>
                <div class="mb-2">
                    <label for="formFileMultiple" class="form-label">Add Images</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="img" multiple>
                  </div>
                <div class="mb-2">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" name="price" required>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="description">Description</label>
                    <textarea rows="6" class="form-control" type="text" id="description" name="description" required></textarea>
                </div>
                <button class="btn btn-success mt-2">Add</button>
            </form>
        </div>

    </div>

