<% layout('/layout/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="col">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1481973964012-59a7f3225eb1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGNhbXB8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <form action="/login" method="POST" novalidate class="validated">
                            <div class="mb-2">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                            </div>
                            
                            <div class="d-grid gap-2">
                                <button class="btn btn-success mt-2">log in</button>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>